/* Paste the provided CSS here */
body {
    background-color: #1f2425;
    color: white;
    font-family: "Poppins", sans-serif;
    background-image: url('bluewall.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 850px;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding: 5px;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the last value for transparency (0 to 1) */
    padding: 10px;
    border-radius: 10px;
}

.text {
    flex: 1;
    padding: 10px;
    color: white;
}

.text_main {
    flex: 1;
    padding: 10px;
    color: darkblue;
}

.right {
    flex: 1;
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
}

.link {
    color: blue;
    margin-right: 10px;
}

a:hover{
    color: orange;
}


.description_proj {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 20px;
    max-width: 800px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.project_pic {
    max-width: 700px;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.mainProgProjectHeader {
    margin-bottom: 20px;
    text-align: center;
}

.links_setup {
    text-align: center;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    margin-left: -40px;
    margin-top: 10px;
}

.github-button {
    display: inline-block;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the button circular */
    background-color: #fff; /* Background color of the button */
    font-size: 45px; /* Font size of the icon */
    line-height: 55px; /* Centers the icon vertically */
    text-align: center; /* Centers the icon horizontally */
    text-decoration: none; /* Removes underline */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.linkedin-button {
    display: inline-block;
    margin-left: 10px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the button circular */
    background-color: #fff; /* LinkedIn blue */
    font-size: 39px; /* Font size of the icon */
    line-height: 54px; /* Centers the icon vertically */
    text-align: center; /* Centers the icon horizontally */
    text-decoration: none; /* Removes underline */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.resume-button img {
    margin-left: 10px;
    width: 45px; /* Adjust width of the image as needed */
    height: auto; /* Maintain aspect ratio */
}

.resume-button img:hover {
    color: yellow;
}
