body {
    background-color: #1f2425;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #073879;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
}

.link {
    color: aliceblue;
    margin-right: 10px;
}


.description_proj {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 20px;
    max-width: 800px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.project_pic {
    max-width: 60%;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.mainProgProjectHeader {
   margin-bottom: 20px;
    text-align: center;
}

.links_setup {
    text-align: center;
}

